<% content_for(:title) do %>
  Airbnb | Home
<% end %>

    <div id="banner" text-center>
      <h1>Start your next adventure</h1>
      <%= render 'shared/search' %>
    </div>


    <div class="espacement"></div>

    <div class="container text-center">

      <div id="text_support">
        <h2 style="color:#00182d">Some ideas:</h2>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Idea" height="200" width="200">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <p><br/></p>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Internet" height="130" width="110">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <p><br/></p>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Growth" height="125" width="125">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <p><br/></p>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Nyan" height="160" width="200">
          </div>
        </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Idea" height="200" width="200">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <p><br/></p>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Internet" height="130" width="110">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <p><br/></p>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Growth" height="125" width="125">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="support" text-center>
            <p><br/></p>
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/02/c5/3e/c0/appartment-klein.jpg" alt="Nyan" height="160" width="200">
          </div>
        </div>

    </div>

    </div>

